<section class="container-fluid px-4 px-lg-5 mt-5">
    <div class="card border-0 shadow-sm rounded-5">
        <div class="card-body p-4 p-lg-5">
            <p class="text-secondary fw-semibold mb-2">Edit event</p>

            <h1 class="fw-bold mb-4">
                Edit <%= @event.title %>
            </h1>

            <%= render "form", event: @event %>
        </div>
    </div>
</section>